#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content {
  --background: url(..\..\assets\brick-wall.jpg) no-repeat center center ;
}

.ion-align-items-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto; 
  margin-top: 20%;
  text-align: center;
}

.ion-padding {
  padding-bottom: 2%;
  width: auto;
  height: auto;
}
